section {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	/* text-align: center; */
}

p,
h1,
h2,
ul,
li,
td {
	/* margin: auto; */
	color: white;
	text-shadow: 1px 0.5px 0.2ch rgba(0, 0, 0, 0.274);
	/* border: 1px solid rgba(0, 0, 0, 0.274); */
	min-width: 100%;
} /* Section text */

section > h2 {
	width: 70%;
	text-align: center;
	/* margin-top: 200px; */
	padding-bottom: 30px;
	align-items: center;
}

/* h2 + * {
	margin-top: 200px;
} */
@counter-style thumbs {
	system: cyclic;
	symbols: "\1F4CC";
	suffix: " ";
	box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

li {
	list-style-type: thumbs;
	text-align: left;
	justify-content: left;
}

.language-javascript {
	box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}
.language-bash {
	box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}
.language-csharp{
	box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

ul {
	text-align: left;
}

section > marp-pre {
	width: 100%;
	/* border-radius: 10px; */
	text-align: left;
	/* box-shadow: 10px -11px 10px 0 rgba(0, 0, 0, 0.5); */
}

h1 {
	max-width: 70%;
	position: absolute;
	top: 45%;
	width: 70%;
	text-align: center;
}
